# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Testing outputs
/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

# Saved program data file
data/Magus.txt
text-ui-test/data/Magus.txt
